body {
    display: grid;
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-columns: 200px 200px 200px 200px 200px;
    justify-items: center;
    background: seashell;
}

#reset {
    grid-row: 4;
    grid-column: 5;
    background: black;
    color: white;
    width: 200px;
    height: 200px;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#terrain {
    grid-row: 3;
    grid-column: 5;
    width: 200px;
    height: 200px;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#type {
    grid-row: 2;
    grid-column: 1;
    width: 200px;
    height: 200px;
    font-size: 32px;
    background: rgb(193, 115, 81);
    color:rgb(130, 40, 19);
    display: flex;
    justify-content: center;
    align-items: center;
}

.type {
    grid-row: 1;
    grid-column: 1;
    width: 200px;
    height: 200px;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#monsters {
    grid-row: 2;
    grid-column: 2;
    width: 200px;
    height: 200px;
    font-size: 32px;
    background: rgb(150, 132, 137);
    color: rgb(96, 44, 38);
    display: flex;
    justify-content: center;
    align-items: center;
}

.monsters {
    grid-row: 1;
    grid-column: 2;
    width: 200px;
    height: 200px;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#level {
    grid-row: 2;
    grid-column: 3;
    width: 200px;
    height: 200px;
    font-size: 32px;
    background: rgb(45, 80, 85);
    color: rgb(158, 39, 32);
    text-shadow: 1px 1px rgb(188, 129, 130);
    display: flex;
    justify-content: center;
    align-items: center;
}

.level {
    grid-row: 1;
    grid-column: 3;
    width: 200px;
    height: 200px;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#upgrade {
    grid-row: 2;
    grid-column: 4;
    font-size: 32px;
    width: 200px;
    height: 200px;
    background: rgb(16,22,83);
    color: rgb(242, 235, 230);
    display: flex;
    justify-content: center;
    align-items: center;
}

.upgrade {
    grid-row: 1;
    grid-column: 4;
    width: 200px;
    height: 200px;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#planet {
    grid-row: 2;
    grid-column: 5;
    font-size: 32px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.planet {
    grid-row: 1;
    grid-column: 5;
        width: 200px;
    height: 200px;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    grid-row: 4;
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 750px) {
    body {
        display: grid;
        grid-template-rows: 100px 100px 100px 100px 100px 100px;
        grid-template-columns: 125px 125px 125px;
        justify-items: center;
        background: seashell;
    }

    #reset {
        grid-row: 6;
        grid-column: 2;
        background: black;
        color: white;
        width: 125px;
        height: 100px;
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #terrain {
        grid-row: 5;
        grid-column: 3;
        width: 125px;
        height: 100px;
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #type {
        grid-row: 1;
        grid-column: 2;
        width: 125px;
        height: 100px;
        font-size: 15px;
        background: rgb(193, 115, 81);
        color:rgb(130, 40, 19);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .type {
        grid-row: 1;
        grid-column: 1;
        width: 125px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
    }

    #monsters {
        grid-row: 2;
        grid-column: 2;
        width: 125px;
        height: 100px;
        font-size: 15px;
        background: rgb(150, 132, 137);
        color: rgb(96, 44, 38);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .monsters {
        grid-row: 2;
        grid-column: 1;
        width: 125px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
    }

    #level {
        grid-row: 3;
        grid-column: 2;
        width: 125px;
        height: 100px;
        font-size: 15px;
        background: rgb(45, 80, 85);
        color: rgb(158, 39, 32);
        text-shadow: 1px 1px rgb(188, 129, 130);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .level {
        grid-row: 3;
        grid-column: 1;
        width: 125px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
    }

    #upgrade {
        grid-row: 4;
        grid-column: 2;
        width: 125px;
        height: 100px;
        background: rgb(16,22,83);
        color: rgb(242, 235, 230);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
    }

    .upgrade {
        grid-row: 4;
        grid-column: 1;
        width: 125px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
    }

    #planet {
        grid-row: 5;
        grid-column: 2;
        font-size: 15px;
        width: 125px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .planet {
        grid-row: 5;
        grid-column: 1;
        width: 125px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
    }

    #logo {
        grid-row: 6;
        grid-column: 1
    }
}